.PaperRoot{
    width:100%;
    height:85vh;
    padding:10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.Header{
    min-height: 50px;
    padding:10px;
}

.Body{
    width:100%;
    
    min-height: 200px;
}

.grid{
    width:100%;
    height:500px;
    overflow-x:hidden;
    overflow-y:auto;
    display: grid;
    grid-template-columns: [x0] 100px [x1] 100px [x2] 130px [x3] 1fr [x4] 1fr [X5] 100px [X6] 110px [X7] 100px [X8] 100px [X9];
    grid-template-rows: [y0] 60px [y1] 50px [y2];
    grid-auto-columns: 90px;
    grid-auto-rows: 40px;
    justify-content: start;
    gap:1px;
    box-shadow: 0px 0px 1px 0px rgba(202,210,38,0.75);
}

.headerBlock{
    grid-column: x0 /x9;
    margin:1px;
    position:sticky;
    top:0px;
    background-color: white;
    z-Index:2;
}

.headerCell {
    background:#0E3B5F; 
    color: white;
    text-align: center;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height:50px;
    line-height: 50px;
    font-size: 12px;
    font-weight: bolder;
    position:sticky;
    top:58.5px;
    z-Index:2;
}


.boxText{
    height:50px;
    text-align: center;
    width:99%;
}

.lineWidth{
    height:50px;
    background:#0E3B5F;
    width:1%;
}

.lineWidth:hover{
    cursor:col-resize;
}

.bodyCell {
    background: rgb(250, 248, 248);
    color: black;
    text-align: center;
    line-height: 40px;
    font-size: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
    padding-right: 1.5px;
}

.EditIcon{
    color:teal
}

.CheckIcon{
    color:steelblue
}

.DeleteIcon{
    color:tomato
}
  
